h1{
    padding: 10px 0;
    margin: 0;
    font-size: 2em;
}
header{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    margin: 10px;
    width: 400px;
    height: 250px;
    display: flex;
    border-radius: 4px;
    overflow:hidden;
}
.card-left{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-contributer-picture{
    width: 120px;
    height:120px;
    border-radius:100%;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-contributer-picture img{
    flex-shrink: 0;
    max-width: 100%;
}
.card-contributer-name{
    text-align: center;
    height: fit-content;
    margin-top:20px;
    width: 98%;
}
.card-contributer-name a{
    text-decoration: none;
}
.card-right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-header{
    width: 100%;
    padding-top : 10px;
    padding-left: 5px
}
.card-footer{
    display: flex;
    font-size: 14px;
}
.card-footer p{
    margin : 5px;
    padding : 5px;
    border-radius : 5px;
    
}


@media screen and (max-width: 425px){
    .card-contributer-picture{
        width:90px;
        height: 90px;
    }
       
   }