{%extends 'base.html'%}

{%block head%}
    <link rel="stylesheet" href="static/index.css">
    <!-- Title -->
    <title>Code Blocks</title>
{%endblock%}
{%block body%}
    <section class="flex-center container" >
        <header >
            <h1 class="mont-extra-bold txt-white" data-aos="fade-right" data-aos-duration="1500">@ Code - Block</h1>        
            <img src="{{url_for('static',filename='assets/H-icon-light.png')}}" alt="Hacktober-fest-icon" data-aos="fade-left" data-aos-duration="1500">
        </header>
    </section>
    <section class="flex-center">
        <main>
            <div class="main-header">
                <h1 class="txt-red-light bebas " data-aos="fade-up" data-aos-duration="1500">ABOUT</h1>
            </div>
            <div class="main-content" data-aos="fade-up" data-aos-duration="1500">
                <p class="txt-white mont-semi-bold">A collection of code snippets for web developers,
                    including code for HTML, CSS, JavaScript. Use these in your websites.
                    This Project is born out of Digital Ocean's hactoberfest ' 21.</p>
                <p class="txt-light mont-semi-bold">// For contributers <br>
                    Showcase your talents , and contribute to this project on <br><br>
                    
                    <a href="https://github.com/aswnss-m/Code-Blocks" class="txt-light">https://github.com/aswnss-m/Code-Blocks</a>
                </p>
            </div>
            <div class="main-button">
                <a href="projects" class="txt-white bg-red-light mont-semi-bold shadow" data-aos="fade-up" data-aos-duration="1500">
                    CLICK ME
                </a>
            </div>
        </main>
        <footer>
            <div class="about-me" >
                <div class="circle">
                    <img src="{{url_for('static',filename ='assets/aswinlal.jpg')}}" alt="aswin lal">
                </div>
                <div class="about-me-content" >
                    <p class="mont-light-italic txt-white">maintained by,</p>
                    <h3 class="mont-regular txt-white">Aswin Lal</h3>
                </div>
            </div>
            <div class="social-handles">
            <a href="www.linkedin.com/in/aswnss">
                <div class="placeholder"><i class="fab fa-linkedin fa-2x "></i></div>
            </a>
            <a href="www.github.com/aswnss-m">
                <div class="placeholder"><i class="fab fa-github-square fa-2x"></i></div>
            </a>
            <a href="www.instagram.com/aswnss">
                <div class="placeholder"><i class="fab fa-instagram-square fa-2x"></i></div>
            </a>
            </div>
        </footer>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
{%endblock%}
</html>