{%extends 'base.html'%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='projects.css')}}">
<title>code-blocks | projects</title>
{%endblock%}

{%block body%}
    <section class="flex-center">
    <header>
        <h1 class="mont-extra-bold txt-white">@ Code - Block</h1>
        <h2 class="mont-extra-bold txt-white">Projects :</h1>
    </header>
    <main>
        <div class="container">
            <!-- Container Starts Here -->
            <!-- Card One ----------------------------------------------------------------------------->
            <div class="card bg-light shadow">
                <div class="card-left bg-red-dark">
                    <div class="card-contributer-picture">
            
                        <img src="{{url_for('static',filename='assets/aswinlal.jpg')}}" alt="Aswin Lal">
            
                    </div>
                    <div class="card-contributer-name">
            
                        <a class="mont-semi-bold-italic txt-white hover-underline-animation" href="https://www.github.com/aswnss-m">Aswin Lal</a>
            
                    </div>
                </div>
                <div class="card-right bg-dark">
                    <div class="card-header mont-bold txt-white">
                        <a href="{{url_for('static',filename='projects/CSS 3D Blend Mode Buttons/index.html')}}">
                        <h4 class="hover-underline-animation">CSS 3D Blend Mode Buttons</h4>
                        </a>

                        <hr>

                        <p class="mont-light ">CSS button with glitch animation</p>

                    </div>
                    <div class="card-footer mont-light">

                        <p class="bg-red-dark txt-white">html</p>
                        <p class="bg-red-dark txt-white">css</p>

                    </div>
                </div>
            </div>
        <!-- Card One End --------------------------------------------------------------------------->
        
        <!-- Place your Card Code Below this -->




            <!-- Container Ends Here -->
        </div>
    </main>
    <footer></footer>
    </section>
{%endblock%}